@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    inset-inline-start: 0;
    box-sizing: border-box;
  }
  .sidebar-container {
    @apply bg-indigo-900 h-[38.5rem] w-[16rem] p-3 transition-all duration-500 relative;
  }
  .sidebar {
    @apply flex items-center mt-2 p-3  cursor-pointer hover:bg-gray-50 transition-all duration-300;
  }
  .sidebar:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
